
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:  #f6f6f6;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #242424;
}

.countries {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.country {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.country:hover {
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  transform: translateY(-20);
  transition: transform 0.3s ease;
}

.country img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.country h3, .country p {
  margin: 0;
  padding: 15px;
}

.country h3 {
  padding-top: 0;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #eee;
}

.countries{
  display: flex;
  flex-wrap: wrap;
}

.light {
  background-color: white;
  color: black;
}

.light.countries,
.light .bottom-row{
  background-color: #f6f6f6;
}

.dark,
.dark a {
  background-color: #242424;
  color: white;
}

.dark .country{
  border: 1px solid #494949;
  background: #2e2e2e;
}


